header{
	padding:150px 0 30px 0;
	background: linear-gradient(90deg, #4fc7c5 0%, #3f77bb 100%);
}

footer{
	padding: 20px 0;
}

.navbar-default{
	background: linear-gradient(90deg, #4fc7c5 0%, #3f77bb 100%);
}

#course{
	padding:80px 0;
}
